{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Our Blog{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4 margin text-center" style="color: #33475b;">Our Blog</h1>
  {% if tag %}
    <h2 class="mb-5 text-muted text-center">Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
    <div class="card mb-4 shadow" style="background-color: #e9ecef;">
      <div class="card-body">
        <h2 class="card-title">
          <a href="{{ post.get_absolute_url }}" class="text-decoration-none link-custom">
            {{ post.title }}
          </a>
        </h2>
        <p class="card-text">
          <small class="text-muted">
            Published {{ post.publish }} by {{ post.author }}
          </small>
        </p>
        <p class="card-text">{{ post.body|markdown|truncatewords_html:20|safe }}</p>
        <div class="d-flex flex-wrap">
          {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="badge bg-secondary me-8 mb-8">
              {{ tag.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% include "pagination.html" with page=posts %}
</div>

<style>
  .card:hover {
    transform: scale(1.03);
    transition: transform .3s ease-in-out;
  }
  .badge {
    transition: background-color .3s ease-in-out, transform .3s ease-in-out;
  }
  .badge:hover {
    background-color: #0d6efd;
    transform: scale(1.1);
  }
  .link-custom {
    color: #0d6efd;
    transition: color .3s ease-in-out;
  }
  .link-custom:hover {
    color: #084298;
    text-decoration: underline;
  }
</style>
{% endblock %}
