{% extends "base.html" %}

{% block title %}Post Ranking{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">Post Ranking</h1>
    <ol class="list-group">
      {% for post in most_viewed %}
        <li class="list-group-item">
          <span class="badge bg-primary me-2">{{ forloop.counter }}</span>
          <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}
