{% load thumbnail %}
{% load static %}

{% with user=action.user profile=action.user.profile %}
<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-3">
              {% if profile.photo %}
                {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                <a href="{{ user.get_absolute_url }}">
                  <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="rounded-circle item-img">
                </a>
              {% else %}
                <a href="{{ user.get_absolute_url }}">
                  <img src="{% static 'img/photo.webp' %}" alt="{{ user.get_full_name }}" class="rounded-circle item-img" style="width: 80px; height: 80px;">
                </a>
              {% endif %}
            </div>
            <div>
              <a href="{{ user.get_absolute_url }}" class="h5 card-title mb-0">
                {{ user.username|capfirst }}
              </a>
              <p class="card-text">
                {{ action.verb }}
                {% if action.target %}
                  {% with target=action.target %}
                    <a href="{{ target.get_absolute_url }}">{{ target }}</a>
                  {% endwith %}
                {% endif %}
              </p>
              <p class="card-text">
                <small class="text-muted">{{ action.created|timesince }} ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endwith %}
