{% extends "base.html" %}

{% block content %}
<h1>Home</h1>

<div class="jumbotron">

    <h1 class="display-4">
        My Site
    </h1>

    <p class="lead">
        Site for your personal growth.
    </p>
    <p class="lead">
        <a href="{% url 'article_list' %}" class="bth-primary">Go to Articles</a>
    </p>





{% for blog in all_blogs %}
<ul>
    
    <li>
        <a href="{%url 'blog_detail' blog.pk%}">
        {{blog.title}} </a>
        ({{blog.date}}) - {{blog.content|truncatewords:20}}
    </li>
    
</ul>
{% endfor %}
</div>

{% endblock content %}